@page "/CurriculoDhuli"

<PageTitle>Currículo</PageTitle>

<div class="pagina">

  <h1>Currículo </h1>

<hr>

  <span class="fotoenome">
    <img src="imagens/dhuli.png" width="200px" alt="Foto da Dhuli.">

    <div>
    <h3>Dhuliana Paula de Assis Geronimo</h3>
    <h5>3°A Informática</h5>
    </div>
  </span>

<hr>

  <div class="conteudo">
    <div class="fatosobremim"><span>·</span> Estudante do Técnico em Informática no IFRO (2023-2025)</div>
    <div class="fatosobremim"><span>·</span> Ganhadora do JIFRO 2024 em futsal </div>
    <div class="fatosobremim"><span>·</span> Bolsista no projeto Todo Mundo Lendo desde 2025</div>
    <div class="fatosobremim"><span>·</span> Habilidade em desenho</div>
    <div class="fatosobremim"><span>·</span> Habilidade em escrita</div>
    <div class="fatosobremim"><span>·</span> Experiência com HTML, CSS e JavaScript</div>
    <div class="fatosobremim"><span>·</span> Profissional em cubo mágico (recorde de 14 segundos)</div>
    <div class="fatosobremim"><span>·</span> Pretende cursar Ensino Superior em Física</div>
    <div class="fatosobremim"><span>·</span> Fluente em Português Brasileiro</div>
    <div class="fatosobremim"><span>·</span> Compreende bem Inglês</div>
  </div>
</div>