@page "/"

<PageTitle>Home</PageTitle>

<style>

    body {
        background-color: #d6d6d6;
        font-family: 'Times New Roman', Times, serif;
        color: #333;
        margin: 40px;
    }

</style>

<h1>Welcome to the mato!</h1>

<p>
    &nbsp Aqui você poderá acessar os currículos das alunas: Anna Isabela, Dhuliana Paula, Gabriella Osório, Giovana Santana e Giovanna Rodrigues
    <br />do 3º A Informática
    <br />&nbsp Acesse as informações disponíveis no menu de navegação à esquerda.
</p>
